body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#comparison-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Estilos para las etiquetas */
.label {
    position: absolute;
    top: 20px;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #397d49; /* Fondo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 999; /* Asegura que las etiquetas estén encima del mapa */
    -webkit-user-select: none; /* Previene selección en Safari */
    user-select: none; /* Previene selección en otros navegadores */
    white-space: nowrap; /* Asegura que el texto no se divida */
}

.label.left {
    left: 20px; /* Posición en la esquina superior izquierda */
}

.label.right {
    right: 20px; /* Posición en la esquina superior derecha */
}