
body { margin: 0; padding: 0; }

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#search-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
#search-input {
    width: 200px;
    padding: 5px;
}
#search-button {
    padding: 5px;
}

/* Estilo para el pop-up */
.mapboxgl-popup-content{
    font-size:0.8rem;
    padding: 5px 10px;
    background-color:#35536C;
    color:#fff
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgb(53,83,108);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgb(53,83,108);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgb(53,83,108);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgb(53,83,108);
}